body {


}

.header-wrap {
	background-color: rgba (16, 22, 54, 0.2);
	z-index: 15;
	.row {
		display: block;
	
		.navbar {
			margin: auto;
			top: 0;
			padding-top: 0;
		}
	}
}

.logo-text {
	font-size: 13px;
	border-left: 1px solid #193e66;
	opacity: 0.3;
	margin-left: 25px;
	
}

.navbar-nav {
	margin-top: 0;

	.nav-item {
		padding-left: 30px;

		.nav-link {
			color: #ffffff;
			font-size: 13px;
			border-top: 1px solid transparent;
			padding-top: 36px;
			&:hover {
			border-top: 1px solid #32b0ee;
			}
		}
	}
}
